    @font-face {
    font-family: 'New Walt Disney UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('New Walt Disney UI Regular'), url('New Walt Disney UI.woff') format('woff');
    }
    

    @font-face {
    font-family: 'New Walt Disney Font Regular';
    font-style: normal;
    font-weight: normal;
    src: local('New Walt Disney Font Regular'), url('New Walt Disney.woff') format('woff');
    }

h1{
	font-family: "New Walt Disney UI Regular", "New Walt Disney Font Regular";
	color: #004400;
}